@model IEnumerable<NotesService.Models.Note>
@{
    ViewData["Title"] = "Список заметок";
}
<!DOCTYPE html>

<body>
    <h3>Список заметок</h3>
    <a asp-action="Create">Добавить заметку</a>

    <form asp-controller="Note" asp-action="List">
        <p>
            Title: <input type="text" name="SearchString">
            <input type="submit" value="Поиск" />
        </p>
    </form>

    <table>
        <tr>
            <td></td>
        </tr>
        @foreach (var note in Model)
        {
            <tr>
                @if (string.IsNullOrEmpty(note.Title))
                {
                    <td>@note.Content</td>
                }
                else
                {
                    <td>@note.Title</td>
                }
            <td>
                <a asp-action="Edit" asp-controller="Note" asp-route-id="@note.Id">Изменить</a> 

                <form asp-controller="Note" asp-action="Delete" asp-route-id="@note.Id" method="post">
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Удалить" />
                    </div>
                </form>
            </td>
            </tr>
        }
    </table>
</body>
